#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

export DEB_CFLAGS_MAINT_APPEND = -pthread

%:
	dh $@

override_dh_install:
	DEB_VERSION=$(DEB_VERSION) dh_install --exclude=*.ko --exclude=*.a --exclude=*.swp --exclude=*.o \
		--exclude=.gitignore

override_dh_shlibdeps:
	dh_shlibdeps -l/lib/aarch64-linux-gnu/

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION)

override_dh_builddeb:
	dh_builddeb -- -Zxz
