# These settings are specific to running under the Android emulator
/dev/qemu_trace           0660   system     system
/dev/qemu_pipe            0660   system     system
/dev/ttyS*                0660   system     system
/dev/ttyAMA1                0660   system     system
/dev/ttyAMA4              0660   system    bluetooth
/proc                     0660   system     system
# /dev/graphics/fb0         0660   system     system
# /dev/graphics/fb1         0660   system     system
# /dev/graphics/fb2         0660   system     system
# /dev/graphics/fb3         0666   system     system
/dev/graphics/fb*         0660    system  graphics
/dev/mali*                0666   system     graphics
/dev/mmz_userdev          0666   system     system
/dev/mem                  0660   system     audio
/dev/ion                  0666   system     system
/dev/vinput               0660   system     system
/dev/hi_jpeg              0666   system     graphics
/dev/video*               0660   system     camera
/dev/input                0660   system     system
/dev/hi_adec              0660   root       root
/dev/hi_adsp              0660   root       root
/dev/hi_aenc              0660   root       root
/dev/hi_aflt              0600   root       root
/dev/hi_ai                0600   root       root
/dev/hi_amp               0606   root       root
/dev/hi_ao                0666   root       system
/dev/hi_avplay            0666   root       root
/dev/hi_cipher            0600   root       root
/dev/hi_custom            0660   root       root
/dev/hi_demux             0600   root       root
/dev/hi_disp              0666   root       root
/dev/hi_fdmng             0660   system     system
/dev/hi_gpio              0600   root       root
/dev/hi_hddec             0600   root       root
/dev/hi_hdmirx            0600   root       root
/dev/hi_hdmi              0660   root       root
/dev/hi_i2c               0600   root       root
/dev/hi_ir                0600   root       root
/dev/hi_log               0660   system     root
/dev/hi_lsadc             0600   root       root
/dev/hi_mem               0660   root       root
/dev/hi_module            0660   system     root
/dev/hi_omxvdec           0660   root       audio
/dev/hi_panel             0660   root       root
/dev/hi_pdm               0660   root       root
/dev/hi_pm                0600   root       root
/dev/hi_png               0660   system     graphics
/dev/hi_pq                0666   root       root
/dev/hi_sci               0660   root       root
/dev/hi_sif               0600   root       root
/dev/hi_stat              0660   system     root
/dev/hi_svdec             0660   system     audio
/dev/hi_sync              0660   root       root
/dev/hi_sys               0666   root       system
/dev/hi_tde               0660   root       system
/dev/hi_tuner             0600   root       root
/dev/hi_tvd               0600   root       root
/dev/hi_vbi               0600   root       root
/dev/hi_userproc          0660   system     root
/dev/hi_vdec              0666   root       system
/dev/hi_venc              0666   system     audio
/dev/hi_vfe               0600   root       root
/dev/hi_vi                0600   root       root
/dev/hi_vicap             0600   root       root
/dev/hi_rm                0666   root       root
/dev/hi_vo                0666   root       root
/dev/hi_vpss              0660   root       root
/dev/hi_wdg               0600   root       root
/dev/hi_pvr               0600   root       root
/dev/hi_ca                0660   root       root
/dev/hi_memc              0660   root       root
/dev/hi_vplugin           0660   system     system
/dev/hi_dbe               0660   system     system
#CSR porting start
/dev/bt_usb*              0666   system     system
# CSR porting end
/dev/rtk_btusb            0660   bluetooth  net_bt_admin
/dev/rtkbt_dev            0660   bluetooth  net_bt_admin
/dev/aicbt_dev            0660   bluetooth  net_bt_admin
/dev/stpbt                0660   bluetooth  radio
/dev/hidraw*              0660    system   audio
